<a href="https://colab.research.google.com/github/Usman194/Python-Practice/blob/main/Class6Dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Why do we need Dictionary in Python?

In [ ]:
users = {
    "userName" : "Muhammad Usman",
    "age" : 24,
    "city" : "Lahore"
}

print(users["userName"])
print(users["age"])
print(users["city"])

Muhammad Usman
24
Lahore

#Addition and Updating Python Dictionary

In [ ]:
users = {
    "userName" : "Muhammad Usman",
    "age" : 24,
    "city" : "Lahore"
}

users["age"] = 32
print(users["age"])
users["userName"] = "Yousaf"
print(users["userName"])
users["city"] = "Karachi"
print(users["city"])

32
Yousaf
Karachi

#Adding a value in our Dictionary

In [ ]:
users = {
    "userName" : "Muhammad Usman",
    "age" : 24,
    "city" : "Lahore"
}

users["country"] = "Pakistan"
print(users)

users["roll no"] = 12156
print(users)
print(type(users))

{'userName': 'Muhammad Usman', 'age': 24, 'city': 'Lahore', 'country': 'Pakistan'}
{'userName': 'Muhammad Usman', 'age': 24, 'city': 'Lahore', 'country': 'Pakistan', 'roll no': 12156}
<class 'dict'>

#Diifference b/w List and Dictionary

1.List can be used to store same data

2.Dictionary can be used to store different data

In [ ]:
users = {
    "userName" : "Muhammad",
    "age" : 27,
    "city" : "Lahore"
}
print(users["userName"])
print(users['age'])
print(users['city'])

Muhammad
27
Lahore

#How to use list in Dictionary

In [ ]:
user2 = {
    "name" : "Adnan",
    "roll no" : 123,
    "village" : "Goldberg",
    "list" : [1, 3, 22, 32]
}
print(user2["name"])
print(user2["roll no"])
print(user2["village"])
print(type(user2))

Adnan
123
Goldberg
<class 'dict'>

#Why we use Loop?
1.   For Loop Syntax
*    for variable_name (range):
*       block of code   
2.   We use for loop with list , tuple and dictionary
3.   When we know number of iteration we use For Loop.

In [ ]:
for i in range(1, 5):
  print(i)

1
2
3
4

=>Example 2

In [ ]:
students = ["Usama", "Qasim", "Laiba", "Ali", "Noni", "Abdullah", "Rehman", "Usman"]

for i in students:
  print(i)

Usama
Qasim
Laiba
Ali
Noni
Abdullah
Rehman
Usman

In [ ]:
number = [1, 2, 3, 4, 5, 6, 7]

for i in number:
  print( i**2 , i ** 3)

Square:  1 Cube:  1
Square:  4 Cube:  8
Square:  9 Cube:  27
Square:  16 Cube:  64
Square:  25 Cube:  125
Square:  36 Cube:  216
Square:  49 Cube:  343

Guessing Game

In [ ]:
correct_number = 9
guess_number = 0

while( guess_number != correct_number):
  guess_number = int(input("Enter a guess number: "))
  print("Wrong, Try again Please" if guess_number != correct_number else "You guesses right Congratulation")

Why do we use While loop?
1.  When we not know number of iteration ,we use while loop with condition.
2.   List item

In [ ]:
countdown = 10

while countdown >= 1:
  print(f"{countdown}...")
  countdown -=  1

print("****---Happy New Year---****")

10...
9...
8...
7...
6...
5...
4...
3...
2...
1...
****---Happy New Year---****

#Class 7
Why we need error Handling?

In [ ]:
try:
  num = int(input("Please enter your number: "))
  result = num / 10
  print(num)
  print(f"Result is : {result}")
except ZeroDivisionError:
  print("Cannot divide by zero")

except ValueError:
  print("Only number are accepted")

except Exception as e:
  print("Some error Happened")

Please enter your number: 0
Cannot divide by zero

In [ ]:
try:
  print(10 / 0)

except ZeroDivisionError:
  print("Cannot divide by zero")

Cannot divide by zero

#Module in Python

In [ ]:
import math

radius = 7
area = math.pi * ( radius ** 2)
print("Area of a circle: ", area)
print(f"Area of a circle: {area}")

Area of a circle:  153.93804002589985
Area of a circle: 153.93804002589985

In [ ]:
import Average

print(Average.val1)

23.0

#00_Joke_bot.md Project
Write a simple joke bot. The bot starts by asking the user what they want. However, your program will only respond to one response: Joke.

If the user enters Joke then we will print out a single joke. Each time the joke is always the same:

Here is a joke for you! Panaversity GPT - Sophia is heading out to the grocery store. A programmer tells her: get a liter of milk, and if they have eggs, get 12. Sophia returns with 13 liters of milk. The programmer asks why and Sophia replies: 'because they had eggs'

If the user enters anything else we print out:

Sorry I only tell jokes

You should use the three constants:

PROMPT JOKE SORRY

In [ ]:
Joke = "Here is a joke for you! Panaversity GPT - Sophia is heading out to the grocery store. A programmer tells her: get a liter of milk, and if they have eggs, get 12. Sophia returns with 13 liters of milk. The programmer asks why and Sophia replies: 'because they had eggs'"
Sorry = "Sorry I tell jokes!"
def bot():
  user_input = input("What you want: ")
  if "joke" in user_input:
    print(Joke)

  else:
    print(Sorry)
bot()

What you want: what is your name
Sorry I tell jokes!

#01_double_it.md
Problem Statement
Write a program that asks a user to enter a number. Your program will then double that number and print out the result. It will repeat that process until the value is 100 or greater.

For example if the user enters the number 2 you would then print:

4 8 16 32 64 128

Note that:

2 doubled is 4

4 doubled is 8

8 doubled is 16

and so on.

We stop at 128 because that value is greater than 100.

Maintain the current number in a variable named curr_value. When you double the number, you should be updating curr_value. Recall that you can double the value of curr_value using a line like:

curr_value = curr_value * 2

This program should have a while loop and the while loop condition should test if curr_value is less than 100. Thus, your program will have the line:

while curr_value < 100:

In [ ]:
number = int(input("Enter a number: "))

while number < 100:
  number = number * 2
  print(number)

Enter a number: 3
6
12
24
48
96
192