<a href="https://colab.research.google.com/github/Usman194/Python-Practice/blob/main/class5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Muhammad Usman")

Muhammad Usman

In [ ]:
a1 = "Zafar abbas"
a2 = "cricket"
a3 = "biryani"
print(a1)
print(a2)
print(a3)

Zafar abbas
cricket
biryani

In [ ]:
sentence = "My name is"
name = "Muhammad Usman"
print(sentence + " " + name)

My name is Muhammad Usman

In [ ]:
faculty_member = 12
adm_staff = 4
std = 100
absent = 15

total_member = faculty_member + adm_staff + std - absent
#absent_people = total_member - absent
total_amnt_rbri  = total_member * 250
print(f"Total members presnet : {total_member}")
print(f"Total amount of rabri: {total_amnt_rbri} g")
print(f"Total amount of rabri in kg: {total_amnt_rbri//1000}kg") #Ignore after . point values => //

Total members presnet : 101
Total amount of rabri: 25250 g
Total amount of rabri in kg: 25kg

In [ ]:
print(f"My name is", name)
print(f"My name is {name}")

My name is Muhammad Usman
My name is Muhammad Usman

In [ ]:
name = "Mhammad Usman"
paraagraph = """You got a free coupon code
Best regards"""
print(f"Hi, {name}")
print(paraagraph +" " +name) #This is called Dock string

Hi, Mhammad Usman
You got a free coupon code
Best regards Mhammad Usman

In [ ]:
is_online = True
is_male = False
print(is_online)
print(is_male)

True
False

In [ ]:
a = 20
b = 21

print(a > b)

False

In [ ]:
name = input("What is your name? ")
print("Hi, " + name + "!")

What is your name? Muhammad Usman
Hi, Muhammad Usman!

In [ ]:
age = int(input("What's your age: "))
weight = int(input("Enter your weight: "))
if( age < 18 ):
  print("You are minor")
elif( age == 18 and weight <= 80 ):
  print("You are young")
elif( age == 50 and weight <= 80 ):
  print("You are old person")
else:
  print("You are very old men")

What's your age: 50
Enter your weight: 80
You are old person

In [ ]:
first_name = "Ali"
print(f"""
Hi, {first_name}
You got a free coupon code: Happy2222
Best regards,
{first_name}""")

Hi, Ali
You got a free coupon code: Happy2222
Best regards,
Ali

In [ ]:
a = 3
b = 2

power = a ** b
print("Power:", power)

Power: 9

In [ ]:
paragraph = """My name is Muhammad Usman
I am a developer
How to print it?"""
print(paragraph)

My name is Muhammad Usman
I am a developer
How to print it?

To print multiline we use """ """ triple quatation.