<a href="https://colab.research.google.com/github/Usman194/Python-Practice/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Practice Question

1). Print Statement: Write a program that prints your name and age.

In [ ]:
name = str(input("Please enter your name: "))
age = int(input("Please enter your age: "))
print(name)
print(age)

2). Write a program that prints your full name by combining first and last name from two separate variables

In [ ]:
firstName = input("Please enter your FirstName: ")
lastName = input("Please enter your LastName: ")
fullName = firstName +" "+ lastName
print("FullName: ", fullName)

3). Write a program that takes two inputs (a number and a string), converts the string to a number, and prints their sum.

In [ ]:
a = str(input("Please enter your number: "))
b = int(input("Please enter your second number: "))
c = int(a)
sum = c + b
print("Sum: ", sum)
print(type(c))

4).  Write a program to create a list with integers, float numbers, and strings, then print each element’s type.

In [ ]:
list = [12, 23, 21, 345]
listb = ["Ali", "Bhai", "Amir", "Noni"]
listc = [12.1, 1.2, 23.2, 44.4]
list2 = [123, "Ali", 'asd', 23.9, True]
print(type(list))
print(type(listb))
print(type(listc))
print(type(list2[0]))
print(type(list2[1]))
print(type(list2[2]))
print(type(list2[3]))
print(type(list2[4]))

5). Write a program that asks the user for their favorite color and then prints a message saying "Your favorite color is [color]."

In [ ]:
color = input("Please enter your favoruite color: ")
print(f"Your favorite color is {color}.")

6).  Write a program that takes a user’s name and age and prints a sentence like: “Hello [name], you are [age] years old.”

In [ ]:
name = str(input("Please enter your name: "))
age = int(input("Please enter your age: "))
print(f"Hello {name}, you are {age} years old.")

7).  Write a program that checks if a number is even or odd.

In [ ]:
a = int(input("Please enter your number: "))

if( a % 2 == 0):
    print("Even")
else:
    print("Odd")

8). Write a program that checks if a given year is a leap year (divisible by 4 and not divisible by 100, or divisible by 400).

In [ ]:
def is_leap_year(year):
  if( year % 4 == 0 and year % 100 != 0 ) or ( year % 400 == 0):
    return True
  else:
    return False

year = int(input("Please enter year: "))
if is_leap_year(year):
  print(f"{year} is Leap year.")
else:
  print(f"{year} is not Leap year.")

9). Print Numbers from 1 to 10: Use a for loop to print the numbers from 1 to 10.

In [ ]:
for val in range(1, 11):
  print(val)

10). Multiplication Table: Write a program that prints the multiplication table of a given number.

In [ ]:
num = int(input("Please enter your number: "))

for i in range(1, 11):
  result = num * i
  print(f"{num} * {i} = {result}")

11). Sum of Numbers: Write a program that calculates the sum of the first 100 numbers (1 to 100) using a loop.

In [ ]:
# Initialize the sum variable
sum_of_numbers = 0

# Loop through numbers from 1 to 100
for i in range(1, 101):
    sum_of_numbers += i  # Add each number to the sum

# Print the result
print("The sum of the first 100 numbers is:", sum_of_numbers)

12). List Operations: Write a program to create a list of fruits and print the second item.

In [ ]:
list = ["Banana", "Apple", "Mango", "Pine Apple"]
print(list)
print("Second item: ",list[1])

13). Tuple Operations: Write a program that creates a tuple with three elements and prints the first and last item.

In [ ]:
tuple = ("Shoes", "Pant", "Shirts")
print(tuple)
print("First and last item: ", tuple[1:3])

14). List Length: Write a program that asks the user for a list of numbers and prints how many numbers were entered.

In [ ]:
list = input("Please enter your list (comma-seperated): " )
list_of_item = list.split()
print(list_of_item)
print("Length of Items: ", len(list_of_item))

15). Simple Function: Write a function that takes two numbers as input and returns their sum.

In [ ]:
def sum(a, b):
  a = int(input("Please enter your first number: "))
  b = int(input("Please enter your second number: "))
  sum = a + b
  return sum
sum('a', 'b')

16). Return Even Numbers: Write a function that accepts a list of numbers and returns a list of only even numbers.

In [ ]:
def even_numbers(list):
  number_str = list.split(',')

  even_numbers_list = [int(num) for num in number_str if int(num) % 2 == 0]
  return even_numbers_list

input_user = input("Please enter your numbers: ")
result = even_numbers(input_user)
print(result)

17). Factorial Function: Write a function to calculate the factorial of a number.

In [ ]:
n = int(input("Please enter your numbers: "))
factorial = 1
i = 1

while i <= n:
  factorial *= i
  i += 1
print("Factorial = ", factorial)

18). Reverse a String: Write a program that takes a string and prints it in reverse.

In [ ]:
t = (1, 2, 3, 4, 5)
print(t)
rev = tuple(reversed(t))
print("Reversed: ",rev)

(1, 2, 3, 4, 5)
Reversed:  (5, 4, 3, 2, 1)

19). Create a program that stores the following data types in variables:

An integer: 5
A floating-point number: 3.14
A string: "Hello, Python"
A boolean: True
Then, print the type of each variable.

In [ ]:
a = 12
print(a)
print(type(a))

b = 3.14
print(b)
print(type(b))

c = "Hello"
print(c)
print(type(c))

d = True
print(d)
print(type(d))

20). Write a program that prints all the even numbers from 1 to 20 using a for loop.

In [ ]:
for i in range(1, 21):
  print(i)

21). Write a Python program that creates a list of numbers [1, 2, 3, 4, 5] and adds a new number to the list. Print the updated list.

In [ ]:
list =  [1, 2, 3, 4, 5]
list.append(6)
print(list)

[1, 2, 3, 4, 5, 6]

22). Create a function named greet that takes a name as an argument and prints "Hello, [name]!". Call the function with your name as the argument.

In [ ]:
def greet(name):
 print(f"Hello, {name}!")
greet("Muhammad Usman")

23). Write a Python program that takes a string input from the user and prints the string in uppercase and lowercase.

In [ ]:
user_input = str(input("Please input your string: "))
print("UpperCase: ", user_input.upper())
print("LowerCase: ", user_input.lower())

24). Write a Python program that takes two numbers as input from the user and prints their sum, difference, and product.
Example Input: 10, 5

In [ ]:
num1 = int(input("Please enter your first number: "))
num2 = int(input("Please enter your first number: "))
sum = num1 + num2
diff = num1 - num2
product  = num1 * num2
print("___Sum___= ", sum)
print("___Difference___= ", diff)
print("____Product_____= ", product)

25). Convert the following string values into integer and float:
x = "20"
y = "15.5" Perform arithmetic operations on them (addition, subtraction, multiplication, division).

In [ ]:
x = "20"
x = int("20")
print(x)
print(type(x))

20
<class 'int'>

Step 2:

In [ ]:
x = int("20")
y = float("15.5")
y = int(y)
Addition = x + y
Subtraction = x - y
Multiplication = x * y
Division = x / y
print("Addition= ", Addition)
print("Subtraction= ", Subtraction)
print("Multiplication= ", Multiplication)
print("Division= ", Division)

26). Write a Python program that takes an integer as input from the user and checks whether the number is positive, negative, or zero.

In [ ]:
user_input = int(input("Please enter your number: "))

if( user_input >= 0):
  print(f"The number {user_input} is positive.")
elif(user_input <= 0):
  print(f"The number {user_input} is negative.")
else:
  print(f"The number {user_input} zero.")

27). Write a Python program that prints the first n Fibonacci numbers. Example: If n = 5, the output should be 0 1 1 2 3.

In [ ]:
def fibonacci_iterative(n):
  a, b = 0, 1
  for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

n = int(input("Please enter your number: "))
fibonacci_iterative(n)

28). Write a Python program that prints all even numbers from 1 to 50.

In [ ]:
for n in range(1, 51):
  if ( n % 2 == 0):
    print(n, end=",")

29). Write a function that takes two numbers and returns their greatest common divisor (GCD).

GCD = The Greatest Common Divisor (GCD), also known as the Highest Common Factor (HCF), is the largest number that divides two or more numbers without leaving a remainder. For example, the GCD of 12 and 18 is 6,

In [ ]:
# Function to find GCD using the Euclidean algorithm
def gcd(a, b):
    while b != 0:
        a, b = b, a % b  # Replace a with b, and b with the remainder of a divided by b
    return a

# Taking two numbers as input
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

# Calculate GCD
gcd_value = gcd(a, b)

# Output the result
print(f"The GCD of {a} and {b} is {gcd_value}")

30). Write a function that calculates the area of a circle, given its radius

In [ ]:
def area(pi, r):
  pi = 3.14
  r = int(input("Enter your Radius: "))
  area = (pi) * (r*r)
  return area
area()

31). Create a list of numbers and find the sum of all even numbers in the list.

In [ ]:
list = [12, 3, 4, 5, 6, 9, 10]
sum_of_even = 0
for number in list:
  if( number % 2 == 0):
    sum_of_even += number
print(sum_of_even)

32). Write a Python program to reverse a list without using the reverse() method.

33). Create a list of random integers and remove all duplicates using a set.

In [ ]:
import random

# Generate a list of random integers (let's say 10 integers between 1 and 20)
random_list = [random.randint(1, 20) for _ in range(10)]
print("Original List:", random_list)

# Remove duplicates by converting the list to a set
unique_list = set(random_list)
print("List after removing duplicates:", unique_list)

34). Create a tuple with 5 elements. Write a program that finds the index of a specific element in the tuple.

In [ ]:
tuple = ("Apple", "Banana", "Mango", "Pine Apple", "Grapes")
print("Tuple: ",tuple)
print("Length of Tuple: ", len(tuple))
print("Index of Tuple: ", tuple[3])

35). Write a Python program that swaps the values of two tuples.

In [ ]:
tuple1 = (1, 2, 3, 4)
tuple2 = (4, 5, 6, 7)

print("Original Tuple1: ", tuple1)
print("Original Tuple2: ", tuple2)

temp = tuple1
tuple1 = tuple2
tuple2 = temp

print("After swapping Tuple1 is: ", tuple1)
print("After swapping Tuple2 is: ", tuple2)

List Swapping

In [ ]:
list1 = [12, 13, 14, 15]
list2 = [16, 17, 18, 19]

print("Original list1: ", list1)
print("Original list2: ", list2)

temp = list1
list1 = list2
list2 = temp
print("_" * 50)
print("List1 after swapping elements: ", list1)
print("List2 after swapping elements: ", list2)

Dictionary Swapping Elements

In [ ]:
#Dictionary swapping
dict1 = {
    "name" : "Muhammad Usman",
    "Father's name" : "Muhammad Yousaf",
    "age" : 23
}

dict2 = {
    "name" : "Mubashir Hassan",
    "nickName" : "Pasha",
    "age" : 20
}
print("*" * 50)
print("Original dict1: ", dict1)
print("Original dict2: ", dict2)

temp = dict1
dict1 = dict2
temp = dict2
print("*" * 50)
print("Dict1 after swapping: ", dict1)
print("Dict2 after swapping: ", dict2)

36). Write a Python program that merges two dictionaries into one.

In [ ]:
dict1 = {
    "name" : "Zulqarnain",
    "nickName" : "Noni"
}

dict2 = {
    "age" : 14,
    "class" : 8
}

merged_dict = dict1.copy()
merged_dict.update(dict2)
print("After merging Dict: ", merged_dict)

After merging Dict:  {'name': 'Zulqarnain', 'nickName': 'Noni', 'age': 14, 'class': 8}

List Merging

In [ ]:
list1 = [12, 11, 23]
list2 = [24, 35 ,67]

merged_list = list1.copy()
merged_list.extend(list2)
print("List after merging: ", merged_list)

Tuple Merging

In [ ]:
tuple1 = (12, 13, 14, 15)
tuple2 = (16, 17, 18, 19)

merged_tuple = tuple1 + tuple2
print("Tuple after merging: ", merged_tuple)

37). Create a dictionary with employee names and their salaries, then write a program to find the employee with the highest salary.

In [ ]:
dict = {
    "names" : ["Ali", "Usman", "Waqas", "Noni", "Hassan"],
    "salaries" : [25000, 34000, 50000, 150000]
}
highest_sal = dict["salaries"].index(max(dict["salaries"]))
highest_sal_name = dict["names"][highest_sal]
print("Employee Name: ",highest_sal_name)
print("Highest Salaries: ", highest_sal)

38).Write a program that takes a list of numbers and prints the square of each number.
Hint: Use a for loop to iterate through the list and use the ** operator to square numbers.

In [ ]:
def print_square(numbers):
  for number in numbers:
    print(number ** 2)
list_number = [2, 3, 4, 5, 6]
print_square(list_number)

39). Write a program that asks the user for a number and prints its reciprocal (1 divided by the number). Use a try-except block to handle the case when the user inputs 0.
Hint: Use try and except blocks to catch a ZeroDivisionError.

In [ ]:
def reciprocal():
  try:
    user_input = int(input("Enter your number: "))
    result = 1 / user_input
    print(f"The reciprocal of {user_input} is {result}.")

  except ZeroDivisionError:
   print("Error: The reciprocal of zero is undefined.")
  except ValueError:
    print("Error: Please input a valid number.")
reciprocal()

40). Given the list [1, 2, 3, 4, 5, 6], print the first three elements using slicing.

In [ ]:
list = [1, 2, 3, 4, 5, 6]
print(list)
print("After slicing: ", list[:3])

41). Write a program that prints numbers from 10 to 100 in increments of 10.

In [ ]:
for val in range(10, 101, 10):
  print(val)

42). Write a program that asks the user for their name and age, and then prints "Hello, <name>! You are <age> years old."

In [ ]:
name = str(input("Please enter your name: "))
age = int(input("Enter your age: "))
print(f"Hello {name}! You are {age} years old")

43). Write a Python program that checks if a given string is a palindrome (the same forward and backward).
Use string slicing string[::-1] to reverse the string.

In [ ]:
list1 = [1, 2, 3, 4, 3, 2, 1]
list2 = [0, 1, 2, 3, 4, 3, 2, 1,5]

copy_list1 = list1.copy()
copy_list1.reverse()
if( copy_list1 == list1[::-1] ):
  print("Palindrome")
else:
  print("Not Palindrome")

Palindrome

44). Write a program that creates a file called "example.txt" and writes "Hello, World!" into it.
Hint: Use open() with write mode ('w').

In [ ]:
f = open("example.txt", "w")
f.write("Hello , my name is muhammad usman")
f.close()

45). Write a program that creates a file called "example.txt" and read "Hello, World!" into it.
Hint: Use open() with write mode ('r').

In [ ]:
a = open("Example1.txt", "r")
data = a.read()
print(data)
print(type(data))

"Hello, Sir"
<class 'str'>

46).  Write a one-liner to create a list of squares for numbers from 1 to 10.

In [ ]:
list = [a*a for a in range(1, 11)]
print("List after squaring = ", list)

List after squaring =  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

47). Write a program to find the largest and smallest numbers in a list.

In [ ]:
list = [1, 2, 4, 56, 66, 7]
result = max(list)
result1 = min(list)
print("Maximum Number: ", result)
print("Minimum Number: ", result1)

Maximum Number:  66
Minimum Number:  1

48).  Write a class Car with attributes make and model, and a method display_info() that prints the make and model of the car.
Hint: Define a class using class, and a method using def.

In [ ]:
class Car:
  def __init__(self, make, model):
    self.make = make
    self.model = model
  def display_info(self):
     print(f"Make: {self.make}")
     print(f"Model: {self.model}")

c1 = Car("Toyota", "Corola")
c1.display_info()

Make: Toyota
Model: Corola

49). Write a program that prints the numbers from 1 to 30. But for multiples of 3, print "Fizz" instead of the number, and for multiples of 5, print "Buzz". For numbers which are multiples of both 3 and 5, print "FizzBuzz".

In [ ]:
for n in range (1, 31):
  a = 3
  b = 5
  if( n % a == 0 and n % b == 0):
    print("FizzBuzz")
  elif( n % a == 0):
    print("Fizz")
  elif( n % b == 0):
    print("Buzz")
  else:
    print(n)